# Copyright (c) 2026 Kyland Inc.
# Intewell-RTOS is licensed under Mulan PSL v2.
# You can use this software according to the terms and conditions of the Mulan PSL v2.
# You may obtain a copy of Mulan PSL v2 at:
#          http://license.coscl.org.cn/MulanPSL2
# THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
# EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
# MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
# See the Mulan PSL v2 for more details.

CONFIG_TOOLCHAIN_GCC=y
CONFIG_TARGET_CPU_CORTEX_A53=y
CONFIG_BUILD_OPTIMIZE="2"
CONFIG_QEMU_AARCH64=y
CONFIG_KERNEL_PROCESS_STACKSIZE=0x100000
CONFIG_GIC_VERSION_V2=y
CONFIG_BCH=y
CONFIG_DRIVERS_VIRTIO=y
CONFIG_PSEUDOTERM=y
CONFIG_PSEUDOTERM_RXBUFSIZE=4096
CONFIG_PSEUDOTERM_TXBUFSIZE=4096
CONFIG_PSEUDOFS_SOFTLINKS=y
CONFIG_FS_LWEXT4=y
CONFIG_NFS=y
CONFIG_FS_TMPFS=y
CONFIG_FS_SHMFS=y
CONFIG_FS_PROCFS=y
CONFIG_ALLSYMS=y
CONFIG_QEMU_AARCH64=y
CONFIG_DTB_QEMU_AARCH64=y
CONFIG_TRACE=y
CONFIG_TRACE_MARK=y
CONFIG_TRACE_IRQ=y
CONFIG_TRACE_SYSCALL=y
CONFIG_TRACE_SIGNAL=y
CONFIG_TRACE_COMPETE=y
CONFIG_TRACE_LOG=y
CONFIG_TRACE_MEMORY=y