.vscode
build
.cache
.idea
cmake-build-debug
test-output.log
test-results.xml
rootfs
.history
push_wdt_test_ftp.sh
deploy.sh
.augment
.cursor
Kconfig.auto
build-back
CMakePresets.json
out/
__pycache__/
*.py[cod]
.upboard-offline